.page {
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}


/* @media screen and (max-width: 768px) {
    .page {
        width: 100%;
        margin: 0 auto;
    }
} */


/* 
@media screen and (max-width: 320px) {
    .page {
        width: 100%;
        margin: 0 auto;
    }
} */