/*  root  */

@import url(../blocks/header-container/header-container.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);

/*  header  */

@import url(../blocks/header-container/header-container__image-quote.css);
@import url(../blocks/header-container/header-container__vector.css);
@import url(../blocks/header-container/header-container__first-vector.css);
@import url(../blocks/header-container/header-container__second-vector.css);
@import url(../blocks/header-container/header-container__third-vector.css);
@import url(../blocks/header-container/header-container__quote.css);
@import url(../blocks/header-container/header-container__title.css);
@import url(../blocks/header-container/header-container__paragraph.css);
@import url(../blocks/header-container/header-container__image.css);

/*  info  */

@import url(../blocks/info/info.css);
@import url(../blocks/info/info__title.css);
@import url(../blocks/info/info__quote.css);
@import url(../blocks/info/info__description.css);
:root {
    --background-color: #2A2C2F;
    --white-color: #fff;
    --blue-color: #0278FE;
}