.visit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/visit_image.png");
    margin: 92px;
    max-width: 1184px;
    height: 740px;
    background-size: cover;
    background-position: center;
    transition: 1s;
    opacity: 1;
}

.visit:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .visit {
        width: 768px;
        height: 746px;
        margin: 92px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .visit {
        width: 320px;
        height: 254px;
        margin: 64px 0 0;
    }
}