.header-container__image {
    margin-top: 64px;
    width: 100%;
    /* height: 615px; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* @media screen and (max-width: 768px) {
    .header-container__image {
        width: 100%;
        height: 480px;
        margin-top: 69px;
    }
} */


/* @media screen and (max-width: 400px) {
    .header-container__image {
        padding-top: 40px;
        width: 400px;
        height: 220px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
} */