.header-container__title {
    width: 793px;
    height: 200px;
    margin-top: 91px;
    text-align: center;
    font-size: 9.6rem;
    line-height: 1;
    font-weight: bold;
    color: var(--white-color);
}