.header-container__title {
    text-align: center;
    font-size: 96px;
    line-height: 1;
    font-weight: bold;
    color: var(--white-color);
    padding-top: 91px;
}

@media screen and (max-width: 320px) {
    .header-container__title {
        font-size: 4rem;
        padding-top: 50px;
    }
}