.header-container__paragraph {
    max-width: 720px;
    padding-top: 32px;
    line-height: 1.15;
    text-align: center;
    font-size: 3rem;
    color: var(--white-color);
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .header-container__paragraph {
        font-size: 1.6rem;
        padding-top: 60px;
    }
}

@media screen and (max-width: 320px) {
    .header-container__paragraph {
        font-size: 1.6rem;
        padding-top: 60px;
    }
}