.header-container__image {
    padding-top: 64px;
    width: 984px;
    height: 615px;
}

@media screen and (max-width: 768px) {
    .header-container__image {
        width: 768px;
        height: 480px;
    }
}