* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
}

:root {
    --background-color: #2A2C2F;
    --white-color: #fff;
    --blue-color: #0278FE;
}