.info__title {
    margin-top: 92px;
    font-size: 54px;
    line-height: 58px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .info__title {
        margin-top: 55px;
    }
}

@media screen and (max-width: 320px) {
    .info__title {
        margin-top: 44px;
        font-size: 32px;
        line-height: 35px;
    }
}