.artists__block {
    display: grid;
    grid-template-areas: "titulo description" "image paragraphs" "button paragraphs" ". paragraphs";
    grid-gap: 40px;
    margin: 0 1%;
}

@media screen and (max-width: 768px) {
    .artists__block {
        grid-gap: 28px;
    }
}

@media screen and (max-width: 585px) {
    .artists__block {
        /*grid-gap: 28px;*/
        grid-template-areas: "titulo" "description" "image" "paragraphs" "button";
    }
}