.artists__button {
    padding: 13px 20px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    margin-top: 48px;
    transition: .5s;
}

.artists__button:hover {
    background-color: #0063D2;
}

@media screen and (max-width: 320px) {
    .artists__button {
        padding: 16px 22px;
        position: absolute;
        left: 16px;
        width: 288px;
        bottom: -725px;
        font-size: 14px;
    }
    .artists__grid-left {
        position: relative;
    }
    .artists .artists__block:nth-child(3) .artists__button {
        position: absolute;
        left: 16px;
        width: 288px;
        bottom: -750px;
        font-size: 14px;
    }
    .artists .artists__block:nth-child(4) .artists__button {
        position: absolute;
        left: 16px;
        width: 288px;
        bottom: -925px;
        font-size: 14px;
    }
    .artists .artists__block:nth-child(5) .artists__button {
        position: absolute;
        left: 16px;
        width: 288px;
        bottom: -850px;
        font-size: 14px;
    }
}