.artists__grid-right {
    margin-left: 40px;
    width: 484px;
}

@media screen and (max-width: 768px) {
    .artists__grid-right {
        margin-left: 28px;
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .artists__grid-right {
        margin: 0;
    }
}