.artists__grid-superior {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .artists__grid-superior {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .artists__grid-superior {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        width: 288px;
        margin: 0 16px;
    }
}