.artists-blocks__button {
    margin-top: 61px;
    padding: 13px 20px;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--blue-color);
    border: none;
    border-radius: 5px;
}