.artists__title h2 {
    font-weight: bold;
    line-height: 1.15;
    font-size: 7.2rem;
    color: var(--white-color);
}

@media screen and (max-width: 768px) {
    .artists__title h2 {
        /* width: 340px; */
        font-size: 4.2rem;
        font-weight: bold;
        line-height: 1.15;
    }
}

@media screen and (max-width: 320px) {
    .artists__title h2 {
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 1.15;
        margin: 0 16px;
    }
}