.artists__block {
    display: grid;
    grid-template-areas: "titulo description" "image paragraphs" "button paragraphs" ". paragraphs";
    grid-gap: 40px;
}

@media screen and (max-width: 768px) {
    .artists__block {
        grid-gap: 28px;
    }
}