.artists__button {
    width: min(350px, 100%);
    grid-area: button;
    padding: 13px 20px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    transition: .5s;
}

.artists__button:hover {
    background-color: #0063D2;
}

@media screen and (max-width: 585px) {
    .artists__button {
        margin-bottom: 8px;
    }
}