.artists__image {
    width: 460px;
    height: 460px;
}

@media screen and (max-width: 768px) {
    .artists__image {
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 320px) {
    .artists__image {
        width: 320px;
        height: 320px;
    }
}