.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 88px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 64px;
    }
}