.page {
    font-family: 'Inter', sans-serif;
    width: min(100%, 1280px);
    margin: 0 auto;
}


/* @media screen and (max-width: 768px) {
    .page {
        width: 100%;
        margin: 0 auto;
    }
} */


/* 
@media screen and (max-width: 320px) {
    .page {
        width: 100%;
        margin: 0 auto;
    }
} */