.photos__image {
    width: 284px;
    height: 213px;
}

@media screen and (max-width: 768px) {
    .photos__image {
        width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 400px) {
    .photos__image {
        width: 360px;
        height: 270px;
    }
}

@media screen and (max-width: 320px) {
    .photos__image {
        width: 288px;
        height: 216px;
    }
}